* {
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.home {
  background-color: teal;
}

.about {
  background-color: antiquewhite;
}

.rooms {
  background-color: teal;
}

.amenities {
  background-color: antiquewhite;
}

.contact {
  background-color: teal;
}