* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif; 
  text-align: center;
  overflow-x: hidden;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.nav {
  display: flex;
  background-color: rgb(0, 190, 190);
  color: antiquewhite;
}

.logo-image {
  width: 6rem;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
  margin-left: 7rem;
}

.numbers {
  float: right;
  margin-top: 3.875rem;
  margin-bottom: 1.75rem;
  margin-left: auto;
  margin-right: 1rem;
}

.hamburger {
  margin-top: 2.875rem;
  margin-left: 2rem;
  margin-right: 7rem;
}

.home {
  background-color: rgb(0, 190, 190);
  color: antiquewhite;
}

.about {
  background-color: antiquewhite;
  color: rgb(0, 190, 190);
}

.rooms {
  background-color: rgb(0, 190, 190);
  color: antiquewhite;
}

.amenities {
  background-color: antiquewhite;
  color: rgb(0, 190, 190);
}

.contact {
  background-color: rgb(0, 190, 190);
  color: antiquewhite;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 3rem;
  padding-left: 2rem;
}

.home-image {
  grid-column: 2;
  grid-row: 1;
  width: 85%;
  margin-top: 3.5rem;
  margin-bottom: 5rem;
}

.large-font {
  text-align: left;
  font-size: 5rem;
  grid-column: 1;
  grid-row: 1;
  margin-top: 24.5%;
  margin-left: 12rem;
}

.small-font {
  text-align: left;
  font-size: 1.125rem;
  grid-column: 1;
  grid-row: 1;
  margin-top: 16%;
  margin-left: 12rem;
}

button {
  grid-column: 1;
  grid-row: 1;
  width: 15rem;
  height: 4rem;
  color: inherit;
  border-color: inherit;
  border-style: solid;
  border-width: .1rem;
  background-color: rgb(0, 190, 190);
  margin-top: auto;
  margin-bottom: 18%;
  margin-left: 12rem;
}

@media only screen and (max-width: 1300px) {
  .large-font {
    margin-left: 6rem;
  }
  .small-font {
    font-size: 1rem;
    margin-left: 6rem;
  }
  .large-font {
    font-size: 4.5rem;
    margin-left: 6rem;
  }
  .button {
    margin-left: 6rem;
    margin-bottom: 12%;
  }
}

@media only screen and (max-width: 1100px) {
  .logo-image {
    width: 5rem;
    margin-left: 4rem;
  } 
  .hamburger {
    margin-left: 1rem;
    margin-right: 4rem;
  }
  .small-font {
    font-size: 1rem;
    margin-left: 3rem;
  }
  .large-font {
    font-size: 4rem;
    margin-left: 3rem;
  }
  .button {
    margin-left: 3rem;
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 800px) {
  .logo-image {
    width: 4rem;
    margin-left: 2rem;
  }
  .numbers {
    margin-top: 3.25rem;
  }
  .hamburger {
    margin-left: .5rem;
    margin-right: 2rem;
    margin-top: 2.375rem;
  }
  .home-grid {
    display: block;
    padding-left: 0;;
    padding-bottom: 1rem;
  }
  .home-image {
    width: 85%;
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  .small-font {
    text-align: left;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  .large-font {
    text-align: left;
    font-size: 4rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 0;
  }
  button {
    display: block;
    width: 14rem;
    margin-top: 1.5rem;
    margin-left: 3rem;
    margin-right: auto;
    margin-bottom: 3rem;
  }
}